/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #2b2b2b;
}
a:hover,
a:focus {
  text-decoration: none;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #755a94;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #755a94;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #e0b354;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #e0b354;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #e0b354;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #e0b354;
}

.button__secondary {
  background-color: #2b2b2b;
  color: #2b2b2b;
}

ul,
.navigation-list {
  list-style-type: none;
}

.page-header {
  background-color: #af87dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  border-bottom: 3px solid #2b2b2b;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 10px;
  padding: 10px 0;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navigation-list__item:before {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #755a94;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.navigation-list__item:after {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #755a94;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.navigation-list__item:after {
  border-width: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation-list__item:hover:before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.navigation-list__item:hover:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.page-footer {
  background-color: #af87dd;
  border-top: 3px solid #2b2b2b;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.about {
  text-align: center;
}
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .grid__item {
    background-color: #b9b9b9;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (min-width: 0px) and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
